{% raw %}{% extends "base.html" %}{% endraw %}

{% raw %}{% block announce %}{% endraw %}
  For updates follow <strong>@david</strong> on
  <a rel="me" href="https://mastodon.davidciani.com/@david">
    <span class="twemoji mastodon">
      {% raw %}{% include ".icons/fontawesome/brands/mastodon.svg" %}{% endraw %}
    </span>
    <strong>Mastodon</strong>
  </a>
{% raw %}{% endblock %}{% endraw %}
